@import "../../styles.css";

.structure {
  max-height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header {
  height: 3.4375rem;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Tangerine', cursive;
  font-size: 3rem;
  user-select: none;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)); */
  background-color: var(--bege-fundo);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header .logo {
  align-self: flex-start;
  font-size: 2.5rem;
  position: relative;
}

.header .logo .logoD, .header .logo .logoB {
  position: absolute;
}

.header .logo .logoB {
  top: 0.9375rem;
  left: 0.9375rem;
}

.coroa {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90vh;
  filter: opacity(10%);
  z-index: -1;
}

.body {
  overflow-y: scroll;
  max-height: calc(100vh - 94px);
  padding: 0 var(--lateral-body-padding);
  padding-top: 100px;
}

.footer {
  height: 35px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--bottom-footer-padding);
}

.footer .heart {
  color: #ff0d0d;
  padding: 0 4px;
}

.footer .heart:hover {
  font-size: 16px;
  padding: 0 2px;
}

@media
