@import "../../styles.css";

.structure {
  max-height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header {
  height: 55px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Tangerine', cursive;
  font-size: 48px;
  user-select: none;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)); */
  background-color: #f9f4e9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header .logo {
  align-self: flex-start;
  font-size: 40px;
  position: relative;
}

.header .logo .logoD, .header .logo .logoB {
  position: absolute;
}

.header .logo .logoB {
  top: 15px;
  left: 15px;
}

.coroa {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90vh;
  filter: opacity(10%);
  z-index: -1;
}

.body {
  overflow-y: scroll;
  max-height: calc(100vh - 79px);
  padding: 0 var(--lateral-body-padding);
  padding-top: 100px;
}
