.timeline {
}

.timeline div {
}

.timeline .title {
}

.timeline .description {
  padding-top: 1rem;
}

.timeline .markdown strong, .timeline strong.markdown {
  color: var(--verde-escuro);
  letter-spacing: 0.3px;
}
